<footer class="footer py-3 mt-5 shadow">
    <div class="container">
        <div class="row">
            <!-- Left Column: Last Updated -->
            <div class="col-12 col-md-6 text-center text-md-left mb-2 mb-md-0">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %d, %Y" }}</i>
                </div>
            </div>

            <!-- <div class="col-12 col-md-6 text-center text-md-right mb-2 mb-md-0">
                <div>
                    <a href="https://visitorbadge.io/status?path=yhhan.com"><img src="https://api.visitorbadge.io/api/visitors?path=yhhan.com&label=VISITORS&labelColor=%23d9e3f0&countColor=%233495ff" /></a>
                </div>
            </div> -->

        <div class="col-12 col-md-6 text-center text-md-right mb-2 mb-md-0">
            <div>
        <!-- ClustrMaps -->
        <script type='text/javascript' id='clustrmaps'
            src='//cdn.clustrmaps.com/map_v2.js?cl=0e1633&w=182&t=n&d=UYpakJt3SK1n2ChLPes2HMRfKJ1p92zb2b2u-a9NA-c&co=0b4975&ct=cdd4d9&cmo=3acc3a&cmn=ff5353'>
        </script>
            </div>
        </div>
            
        </div>
    </div>
</footer>
