<footer class="footer py-3 mt-5 shadow">
    <div class="container">
        <div class="row">
            <!-- Left Column: Last Updated -->
            <div class="col-12 col-md-6 text-center text-md-left mb-2 mb-md-0">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %d, %Y" }}</i>
                </div>
            </div>

            <!-- <div class="col-12 col-md-6 text-center text-md-right mb-2 mb-md-0">
                <div>
                    <a href="https://visitorbadge.io/status?path=yhhan.com"><img src="https://api.visitorbadge.io/api/visitors?path=yhhan.com&label=VISITORS&labelColor=%23d9e3f0&countColor=%233495ff" /></a>
                </div>
            </div> -->

        <div class="col-12 col-md-6 text-center text-md-right mb-2 mb-md-0">
            <div>
        <!-- ClustrMaps -->

        <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=Zvaf86lVT6hbnwT0AfUMbW4UUM5TtAWkIqzlAW-2hzU&cl=ffffff&w=a"></script>

                
            </div>
        </div>
            
        </div>
    </div>
</footer>
